node_modules
dist
out
release
*.log
.DS_Store
.env
.env.*
coverage
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.everkeep
!fixtures/**/*.everkeep
.everkeep-temp
*.tsbuildinfo

sharing/dist/
**/.wrangler/
supabase/.temp/
supabase/.branches/

**/.dev.vars
**/.dev.vars.*
!**/.dev.vars.example

!supabase/.env.example
!sharing/.env.example
